.example-spacer {
  flex: 1 1 auto;
}
.search-bar {
  width: 130px;
  border-radius: 20px;
  padding: 12px 14px;
  margin-left: 50px;
  background: #ffd740;
  border: 1px bold black;
}

.search-bar:focus {
  width: 500px;
  border-radius: 20px;
  padding: 12px 14px;
  margin-left: 50px;
  background: #ffd740;
  border: 1px bold black;
}
