<app-title></app-title>
<div class="contain">
  <div class="sidebar">
    <p class="Info">My Account</p>
    <div id="fav" class="Info">
      Favorite
      <p class="countFavorite">{{ count }}</p>
    </div>
    <p class="Info">Orders</p>
    <p class="Info">Nofications</p>
    <p class="Info">My Vouchers</p>
    <p class="Info">Coins</p>
  </div>
  <div class="main-content" *ngFor="let purchaseItems of purchase_item">
    <div>
      {{ purchaseItems }}
      <button
        class="pay-button"
        style="font-size: large"
        [routerLink]="['/bill']"
      >
        Purchase
      </button>
    </div>
  </div>
</div>
